/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: #FFBA00;
    --maincolor2: #242424;
    --color1: #483500;

}
a{
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
html{
    background-color: var(--maincolor2);
}
.header {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../imgs/Header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vh;
    height: 100vh;
    align-content: flex-start;
}

.hashtag {
    box-sizing: content-box;
    font-size: 32px;
    margin-top: 50px;
    width: 200px;
    height: max-content;
    padding: 20px 40px 40px 100px;
    background-color: var(--maincolor);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

.hashtag .hash {
    font-weight: 400;

}

.nav {
    height: 50px;
    flex-direction: row;
    margin-top: 70px;
    display: flex;
    color: white;

}

.nav ul {
    display: flex;
    justify-content: flex-end;

    width: 1115px;
}

.nav li a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 42px;
    margin-left: 80px;

}
.rect{
    display: flex;
    height: 260px;
    width: 100%;
    margin-top: 500px;
    background-color: var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-end;
    flex-direction: row-reverse;
}


.rect .otitle{
    display: flex;
    width: 200px;
    flex-flow: wrap row;
    color: white;
    font-weight: 900;
    font-size: 10rem;
    line-height: 175px;
    margin-left: 100px;
}
.rect .otitle .spaceletters {
        font-weight:400;
}
.rect .button {
    display: flex;
    color: white;
    background-color: var(--maincolor);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    overflow-wrap: unset;
    width: 300px;
    height: 80px;
    border: 2px solid white;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 20px;
}